<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GameDB" connectionString="Server=.;Database=GameDB;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="GameApp.Properties.Settings.DbConnection" connectionString="Data Source=DESKTOP-KMIM16D;Initial Catalog=GameDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>